files:
  "/etc/nginx/conf.d/nginx_custom.conf":
     mode: "000644"
     owner: root
     group: root
     content: |
       location / {
           try_files $uri $uri/ /index.php?$query_string;
           gzip_static on;
        }
    "/etc/nginx/conf.d/proxy.conf" :
        mode: "000755"
        owner: root
        group: root
        content: |
           client_max_body_size 200M;

container_commands:
  nginx_reload:
     command: "sudo service nginx reload"
